.light-section{
   padding-bottom: 80px;
}
.light-box{
   width: 100%;
   max-width: 562px;
   margin-bottom: 40px;
}
.light-content{
   display: flex;
   align-items: flex-end;
   justify-content: space-between;
}
.light-title{
   margin: 0px;
   font-weight: 800;
   font-size: 36px;
   line-height: 111%;
   color: #535353;
}
.ligh-spn{
   color: #FFC94F;
}
.light-text{
   width: 100%;
   max-width: 480px;
   margin-top: 44px;
   margin-bottom: 45px;
   font-weight: 400;
   font-size: 14px;
   line-height: 157%;
   color: #8C8C8C;
}
.light-link{
   font-weight: 700;
   font-size: 14px;
   line-height: 17px;
   color: #535353;
   background: #FFC94F;
   border-radius: 2px;
   padding: 10px 35px;
}
.mond-spn{
   display: inline-block;
   width: 228px;
   height: 3px;
   background: #F3A800;
   margin-top: 4px;
}
.img-content{
   position: relative;
   &::before{
      position: absolute;
      width: 32px;
      height: 64px;
      background-image: url("../images/ded2.svg");
      background-repeat: no-repeat;
      background-size: 100%;
      bottom: -20px;
      left: -40px;
      content: '';
   }
}

@media only screen and (max-width:565px) {
   .light-content{
      display: flex;
      flex-wrap: wrap-reverse;
   }
   .img-content{
      position: relative;
      margin-bottom: 40px;
      &::before{
         display: none;
      }
   }
   .mond-spn{
      display: none;
   }
   .light-title{
      font-weight: 800;
      font-size: 24px;
   }
   .light-text{
      margin-top: 15px;
      max-width: 330px;
      font-size: 14px;
      line-height: 22px;
   }
   .light-section{
      padding-bottom: 40px;
   }
}

//---------------------------------light sections end-----------------------------------
.lamp-content{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.lamp-section{
   padding-bottom: 100px;
}
.lamp-box{
   width: 100%;
   max-width: 280px;
}

.lamp-title{
   position: relative;
   margin: 0px;
   font-weight: 800;
   font-size: 30px;
   line-height: 133%;
   color: #535353;
   margin-left: 20px;
   margin-bottom: 60px;
   &::before{
      position: absolute;
      width: 5px;
      height: 25px;
      background-color: #FFC94F;
      background-repeat: no-repeat;
      background-size: 100%;
      left: -24px;
      bottom: 4px;
      content: '';
   }
}

.lamp-str{
   font-weight: 700;
   font-size: 18px;
   line-height: 133%;
   color: #FFC94F;
}
.lamp-text{
   margin: 0px;
   margin-top: 25px;
   font-weight: 400;
   font-size: 14px;
   line-height: 157%;
   color: #8C8C8C;
}
.lamp-list{
   margin: 0px;
   padding: 0px;
}
.lamp-item{
   padding-top: 22px;
   margin-bottom: 24px;
}
.lamp-item + .lamp-item{
   border-top: 1px solid #EFEFEF;
}
.lamp-link{
   font-weight: 700;
   font-size: 14px;
   line-height: 157%;
   color: #535353;
}
.boy-link{
   margin-top: 30px;
   display: inline-block;
   font-weight: 700;
   font-size: 14px;
   line-height: 17px;
   text-align: center;
   color: #FFFFFF;
   background: #3D4F64;
   border-radius: 2px;
   padding: 13px 60px;
}

@media only screen and (max-width:565px) {
   .lamp-section{
      padding-bottom: 40px;
   }
   .evo-box{
      display: none;
   }
   .lamp-text{
      display: none;
   }
   .boy-link{
      display: none;
   }
   .lamp-title{
      margin: 0px;
      font-weight: 800;
      font-size: 18px;
      line-height: 222%;
      color: #535353;
      margin-left: 0px;
      margin-bottom: 15px;
      &::before{
         display: none;
      }
   }
   .lamp-item + .lamp-item{
      border-top: none;
   }
   .lamp-list{
      width: 100%;
      max-width: 100%;
      margin-left: 20px;
      margin-top: 10px;
   }
   .lamp-item{
      border-bottom: 1px solid #EFEFEF;
   }
   .lamp-item{
      padding-bottom: 15px;
      margin-bottom: 0px;
   }
   .lamp-str{
      font-weight: 700;
      font-size: 16px;
      line-height: 133%;
      color: #FFC94F;
      margin-left: 20px;
      border-bottom: 1px solid #EFEFEF;
      padding-bottom: 15px;
   }
}

//-----------------------------------lamp section end---------------------------------
.bear-section{
   padding-bottom: 70px;
}
.bear-list{
   margin: 0px;
   padding: 0px;
}
.bear-item{
   width: 100%;
   max-width: 1014px;
   margin-left: 125px;
   padding-bottom: 20px;
   border-bottom: 1px solid #E5E5E5;
   margin-bottom: 25px;
}
.fox-box{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.bear-str{
   position: relative;
   font-weight: 700;
   font-size: 16px;
   line-height: 250%;
   color: #535353;
   &::before{
      position: absolute;
      width: 41px;
      height: 41px;
      background-image: url("../images/lamp3.svg");
      background-repeat: no-repeat;
      background-size: 100%;
      left: -90px;
      bottom: 1px;
      content: '';
   }
}
.boor-str{
   position: relative;
   &::before{
      position: absolute;
      width: 42px;
      height: 42px;
      background-image: url("../images/shipment1.svg");
      background-repeat: no-repeat;
      background-size: 100%;
      left: -90px;
      bottom: 2px;
      content: '';
   }
}
.bear-text{
   display: none;
   font-weight: 400;
   font-size: 14px;
   line-height: 171%;
   color: #A6A6A6;
}
.open{
   display: inline-block;
}


.boor-text{
   display: none;
   font-weight: 400;
   font-size: 14px;
   line-height: 171%;
   color: #A6A6A6;
}
.loop{
   display: inline-block;
}

.koor-text{
   display: none;
   font-weight: 400;
   font-size: 14px;
   line-height: 171%;
   color: #A6A6A6;
}
.loop{
   display: inline-block;
}

.koor-str{
   position: relative;
   &::before{
      position: absolute;
      width: 42px;
      height: 42px;
      background-image: url("../images/main.icon.svg");
      background-repeat: no-repeat;
      background-size: 100%;
      left: -90px;
      bottom: 2px;
      content: '';
   }
}

.foor-text{
   display: none;
   font-weight: 400;
   font-size: 14px;
   line-height: 171%;
   color: #A6A6A6;
}
.loop{
   display: inline-block;
}
.foor-str{
   position: relative;
   &::before{
      position: absolute;
      width: 37px;
      height: 37px;
      background-image: url("../images/virus.icon.svg");
      background-repeat: no-repeat;
      background-size: 100%;
      left: -90px;
      bottom: 2px;
      content: '';
   }
}

.coor-text{
   display: none;
   font-weight: 400;
   font-size: 14px;
   line-height: 171%;
   color: #A6A6A6;
}
.loop{
   display: inline-block;
}
.coor-str{
   position: relative;
   &::before{
      position: absolute;
      width: 33px;
      height: 33px;
      background-image: url("../images/master.icon.svg");
      background-repeat: no-repeat;
      background-size: 100%;
      left: -90px;
      bottom: 2px;
      content: '';
   }
}
@media only screen and (max-width:565px) {
   .bear-section{
      padding-bottom: 40px;
   }
   .fox-box{
      display: flex;
      align-items: center;
   }
   .bear-item{
      width: 100%;
      max-width: 270px;
      margin-left: 38px;
      padding-bottom: 20px;
      margin-bottom: 25px;
      border-bottom: none;
   }
   .bear-str{
      position: relative;
      font-weight: 700;
      font-size: 14px;
      line-height: 157%;
      color: #535353;
      &::before{
         position: absolute;
         width: 41px;
         height: 41px;
         background-image: url("../images/lamp3.svg");
         background-repeat: no-repeat;
         background-size: 100%;
         left: -45px;
         bottom: 14px;
         content: '';
      }
   }
   .coor-str{
      position: relative;
      &::before{
         position: absolute;
         width: 33px;
         height: 33px;
         background-image: url("../images/master.icon.svg");
         background-repeat: no-repeat;
         background-size: 100%;
         left: -45px;
         bottom: 7px;
         content: '';
      }
   }
   .foor-str{
      position: relative;
      &::before{
         position: absolute;
         width: 37px;
         height: 37px;
         background-image: url("../images/virus.icon.svg");
         background-repeat: no-repeat;
         background-size: 100%;
         left: -50px;
         bottom: -4px;
         content: '';
      }
   }
   .koor-str{
      position: relative;
      &::before{
         position: absolute;
         width: 42px;
         height: 42px;
         background-image: url("../images/main.icon.svg");
         background-repeat: no-repeat;
         background-size: 100%;
         left: -50px;
         bottom: 18px;
         content: '';
      }
   }
   .boor-str{
      position: relative;
      &::before{
         position: absolute;
         width: 42px;
         height: 42px;
         background-image: url("../images/shipment1.svg");
         background-repeat: no-repeat;
         background-size: 100%;
         left: -50px;
         bottom: 14px;
         content: '';
      }
   }
}
//--------------------------------- bear section end------------------------------
.dizayn-section{
   padding-bottom: 50px;
}
.dizayn-list{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 0px;
   padding: 0px;
   margin-bottom: 80px;
}
.dizayn-item{
   width: 100%;
   max-width: 270px;
   background: #FFFFFF;
   border: 1px solid #EAEAEA;
   border-radius: 0px;
}
.water-box{
   padding: 0px 15px 0px 21px;
}
.water-img{
   margin-top: 119px;
   margin-bottom: 64px;
}
.fix-img{
   margin-left: 55px;
   margin-top: 45px;
   margin-bottom: 44px;
}
.dizayn-title{
   margin: 0px;
   font-weight: 700;
   font-size: 14px;
   line-height: 157%;
   color: #535353;
   margin-bottom: 13px;
}
.long-list{
   margin: 0px;
   padding: 0px;
   margin-left: 15px;
   margin-bottom: 15px;
}
.long-item{
   font-weight: 300;
   font-size: 14px;
   line-height: 150%;
   color: #8C8C8C;
   margin-bottom: 5px;
   position: relative;
   &::before{
      position: absolute;
      width: 6px;
      height: 6px;
      background-color: #FFC94F;
      border-radius: 3px;
      background-repeat: no-repeat;
      background-size: 100%;
      left: -14px;
      bottom: 8px;
      content: '';
   }
}
.wrong-item{
   &::before{
      position: absolute;
      width: 6px;
      height: 6px;
      background-color: #FFC94F;
      border-radius: 3px;
      background-repeat: no-repeat;
      background-size: 100%;
      left: -14px;
      bottom: 28px;
      content: '';
   }
}
.long-str{
   font-weight: 700;
   font-size: 20px;
   line-height: 105%;
   color: #535353;
   margin-bottom: 58px;
   display: inline-block;
   &:hover{
      color: #F3C650;
   }
}
.long-link{
   background: #3D4F64;
   border-radius: 0px 0px 0px 2px;
   font-weight: 600;
   font-size: 14px;
   line-height: 321%;
   text-align: center;
   color: #FFFFFF;
   padding: 12px 75px 12px 75px;
}
.water-spn{
   margin-left: 8px;
}
.water-text{
   display: inline-block;
   font-weight: 600;
   font-size: 16px;
   line-height: 150%;
   color: #3D4F64;
   background: #FFC94F;
   border-radius: 0px 0px 2px 0px;
   padding: 4px 13px;
   margin: 0px;
}

.bird-link{
   display: inline-block;
   margin-left: 540px;
   font-weight: 700;
   font-size: 14px;
   line-height: 17px;
   color: #535353;
   background: #F3C650;
   border-radius: 2px;
   padding: 13px 35px;
}

@media only screen and (max-width:565px) {
   .water-box{
      padding: 0px 8px 0px 8px;
   }
   .bird-link{
      display: inline-block;
      margin-left: 55px;
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      color: #535353;
      background: #F3C650;
      border-radius: 2px;
      padding: 13px 35px;
   }
   .long-str{
      font-weight: 700;
      font-size: 14px;
      line-height: 150%;
      color: #535353;
      margin-bottom: 20px;
      display: inline-block;
      &:hover{
         color: #F3C650;
      }
   }
   .dizayn-item{
      width: 100%;
      max-width: 155px;
      background: #FFFFFF;
      border: 1px solid #EAEAEA;
      border-radius: 0px;
      margin-bottom: 13px;
   }
   .dizayn-list{
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 30px;
   }
   .long-list{
      display: none;
   }
   .water-img{
      margin-top: 60px;
      margin-bottom: 36px;
   }
   .fix-img{
      width: 68px;
      height: 96px;
      margin-left: 15px;
      margin-top: 33px;
      margin-bottom: 17px;
   }
   .long-link{
      background: #3D4F64;
      border-radius: 0px 0px 0px 2px;
      font-weight: 600;
      font-size: 12px;
      line-height: 321%;
      text-align: center;
      color: #FFFFFF;
      padding: 8px 30px 8px 30px;
   }
   .dizayn-title{
      margin: 0px;
      font-weight: 700;
      font-size: 12px;
      line-height: 164%;
      color: #535353;
      margin-bottom: 9px;
   }
}

//----------------------------------------- dizayn section end ------------------------------------
.last-section{
   padding-top: 30px;
   padding-bottom: 80px;
}
.last-content{
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
}
.last-list{
   margin-top: 20px;
   margin-bottom: 20px;
   width: 100%;
   max-width: 870px;
   margin: 0px;
   padding: 0px;
   height: 100px;
   overflow: auto;
}
.last-title{
   position: relative;
   font-weight: 800;
   font-size: 20px;
   line-height: 120%;
   color: #505050;
   &::before{
      position: absolute;
      width: 133px;
      height: 133px;
      background-image: url("../images/notebook.png");
      border-radius: 3px;
      background-repeat: no-repeat;
      background-size: 100%;
      left: -45px;
      bottom: -53px;
      z-index: -1;
      content: '';
   }
}
.last-item{
   border-bottom: 1px solid #EFEFEF;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 10px;
   margin-right: 98px;
}
.flash-title{
   font-weight: 500;
   font-size: 14px;
   line-height: 321%;
   color: #505050;
   margin: 0px;
   &:hover{
      color: #505050;
      opacity: 0.3;
   }
}
.last-link{
   font-weight: 700;
   font-size: 14px;
   line-height: 321%;
   color: #505050;
   margin-right: 20px;
   &:hover{
      color: #F3A800;
   }
   &:active{
      color: #505050;
      opacity: 0.3;
   }
}
.flash-box{
   position: relative;
   &::before{
      position: absolute;
      width: 21px;
      height: 21px;
      background-image: url("../images/last.img.svg");
      border-radius: 3px;
      background-repeat: no-repeat;
      background-size: 100%;
      right: -20px;
      bottom: 15px;
      content: '';
   }
}
@media only screen and (max-width:565px) {
   .last-content{
      display: block;
   }
   .flash-box{
      position: relative;
      &::before{
         position: absolute;
         width: 21px;
         height: 21px;
         background-image: url("../images/last.img.svg");
         border-radius: 3px;
         background-repeat: no-repeat;
         background-size: 100%;
         right: -45px;
         bottom: -5px;
         content: '';
      }
   }
   .last-title{
      margin-top: 0px;
      position: relative;
      font-weight: 800;
      font-size: 20px;
      line-height: 120%;
      color: #505050;
      &::before{
         display: none;
      }
   }
   .last-link{
      display: none;
   }
   .last-list{
      margin-top: 20px;
      margin-bottom: 20px;
      width: 100%;
      max-width: 870px;
      margin: 0px;
      padding: 0px;
      height: auto;
      overflow: none;
   }
}

// ------------------------------last section end ---------------------------------
.quetion-section{
   padding-bottom: 32px;
}
.quetion-title{
   position: relative;
   width: 500px;
   margin: 0px;
   font-weight: 800;
   font-size: 24px;
   line-height: 142%;
   color: #535353;
   &::before{
      position: absolute;
      width: 164px;
      height: 164px;
      background-image: url("../images/soroq.icon.png");
      border-radius: 3px;
      background-repeat: no-repeat;
      background-size: 100%;
      z-index: -1;
      left: -110px;
      bottom: -35px;
      content: '';
   }
}
.quetion-box{
   width: 100%;
   max-width: 950px;
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   margin: 0px auto;
}
.quetion-inp{
   width: 100%;
   max-width: 350px;
   display: block;
   padding: 8px 0px 8px 3px;
   border: none;
   border-bottom: 1px solid #EFEFEF;
   margin-bottom: 12px;
}
.quetion-textarea{
   resize: vertical;
   display: block;
   border: none;
   height: 30px;
   border-bottom: 1px solid #EFEFEF;
   margin-bottom: 50px;
}
.quetion-btn{
   font-weight: 700;
   font-size: 14px;
   line-height: 17px;
   color: #464855;
   background: #FFC94F;
   border: none;
   border-radius: 2px;
   padding: 13px 60px;
   margin-left: 97px;
}

@media only screen and (max-width:565px) {
   .quetion-title{
      position: relative;
      width: 300px;
      margin: 0px;
      font-weight: 800;
      font-size: 14px;
      line-height: 142%;
      margin-bottom: 20px;
      color: #535353;
      &::before{
         display: none;
      }
   }
   .quetion-box{
      width: 100%;
      max-width: 100%;
      display: block;
   }
   .quetion-inp{
      margin-bottom: 10px;
   }
   .quetion-textarea{
      margin-bottom: 40px;
   }
   .quetion-btn{
      width: 100%;
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      color: #464855;
      background: #FFC94F;
      border: none;
      border-radius: 2px;
      padding: 13px 60px;
      margin-left: 0px;
   }
}